

<div class="sign-in-form__container">
    <form action="/sign_in" method="post">
        <div class="sign-in-form__username">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="sign-in-form__password">
            <input type="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Sign In">
    </form>
</div>


<div class="sign-up-form__container">
    <form action="/create_user" method="post">
        <div class="sign-up-form__first-name">
            <input type="text" name="[user]fname" placeholder="First name">
        </div>
        <div class="sign-up-form__last-name">
            <input type="text" name="[user]lname" placeholder="Last name">
        </div>
        <div class="sign-up-form__username">
            <input type="text" name="[user]username" placeholder="Username">
        </div>
        <div class="sign-up-form__email">
            <input type="text" name="[user]email" placeholder="Email address">
        </div>
        <div class="sign-up-form__password">
            <input type="password" name="[user]password" placeholder="Password">
        </div>
        <input type="submit" value="Sign Up">
    </form>
</div>
