<nav>

  <div class="nameBar"> Go-Llama-Go</div>
  <div class="nameBar2"> where llamas fly</div>

  <div class = "llama"></div>


   <div class="navBar">
        <ul>
           <li class="blogBar menuBar"></li>
            <a href = "/"><li class="menuBar">Home</li></a>
            <a href = "/product"><li class="menuBar">Account</li></a>
            <a href = "/blogs"><li class="menuBar">Blogs</li></a>
            <a href = "/"><li class="menuBar2">Sign-Out</li></a>
            <a href = "/sign_out"><li class="menuBar2">Sign-In</li></a>
            <li class="media"></li>
           </ul>
   </div>

</nav>

  <div class ="main-container"><%= yield %></div>

  <footer>
         <div class="footer">
           <div class="footer_size">
             </div>
                     <ul>
                        <li class="menuBar_footer">User Search</li>
                        <li class="menuBar_footer"><input type="text" name="username" placeholder="Username"></li>
                        <li class="menuBar_footer"><input type="submit" value="Search"></li>
                        <li class="menuBar_footer footer2">Go Llama Go Llama Go!</li>
                    </ul>
             </div>
           </div>
         </div>

  </footer>

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script type="text/javascript" src="/js/layout.js"></script>
