<nav>
   <div class="navBar">
        <ul>
           <li class="blogBar menuBar"> BLOGZ </li>
             <a href = "/product"><li class="menuBar">Account</li></a>
             <a href = "/contact"><li class="menuBar">Blogs</li></a>
             <a href = "/about"><li class="menuBar">Sign-In</li></a>
             <a href = "/about"><li class="menuBar">Sign-Out</li></a>
            <li class="media"</li
           </ul>
   </div>
</nav>

<%= yield %>

<footer>
       <div class="footer">

                 <ul>
                    <li class="menuBar">E-mail: xxxx</li>
                    <li class="menuBar">xxxx</li>
                </ul>
         </div>

</footer>

<link rel="stylesheet" type="text/css" href="css/styles.css">
