.delete-user-modal {
    display: none;
}

// .delete-user-btn {
//     &:hover {
//         cursor: pointer;
//     }
// }
//
// .edit-user-btn {
//     &:hover {
//         cursor: pointer;
//     }
// }

.edit-user-modal {
    display: none;
}

.edit-password__container {
    display: none;
}
