// .blog-list__edit-blog-btn {
//     &:hover {
//         cursor: pointer;
//     }
// }
//
// .blog-list__del-blog-btn {
//     &:hover {
//         cursor: pointer;
//     }
// }

.blog-list__cancel-edit-blog-btn {
    display: none;
}

.update-blog-form__container {
    display: none;
}

.delete-blog-modal {
    display: none;
}
