.blog-list__item-container {
    margin: 10px auto;
    border: 1px solid black;
    width: 40vw;
    min-width: 250px;
    max-width: 420px;
}

.blog-list__cancel-edit-blog-btn {
    display: none;
}

.update-blog-form__container {
    display: none;
}

.update-blog-form__textarea {
    width: 100%;
}

.delete-blog-modal {
    display: none;
}

.favorited-blog-heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/images/red-heart.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
