* {
  margin: 0 auto;
}

.sign-in-form__container {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  float: left;
  margin-top: 200px;
  width: 35%;
}

.sign-up-form__container {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  float: left;
  margin-top: 200px;
  width: 35%;
}
