.no_user {
    color: #2a363b;
    padding: 5px;
    margin-top: 5px;
    font-family: "futura";
    list-style: none;
    text-shadow: 2px 2px #ff847c;
    text-align: center;
    font-size: 36px;
    font-style: italic;
}
